body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
header {
    margin-top: 20px;
    height: 30px;
}
header .title {
    font-size: 2.6rem;
    padding-left: 30px;
    background: green;
    color: gold;
}
footer {
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: white;
    background: #666666;
}
.jumbotron {
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 0;
    background-image: url(../images/011.gif);
    background-repeat: repeat;
}
.jumbotron p {
    font-size: 16px;
    color: #006666;
}
.main-track {
    /*width: 980px;*/
    /*height: 500px;*/
    
    background-image: url(../images/003.gif);
    background-repeat: repeat;
    height: 600px;
    width: 100%;
    margin: 0;
    padding: 0;
}
.main-track #track-info {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.mainImg {
    width: 225px;
    height: 173px;
}
